.form-group
{
    margin-bottom: 40px;
    text-align: center;;
}

.form-group .form-control
{
    padding: 10px;
    width: 300px;
    
}
.form-group .form-submit
{
    padding: 10px 15px;
    background-color:#5cb85c;
    border: lightgrey;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.form-group .form-submit:hover
{
    background: #26aa26;
}


.category
{
    border-collapse: collapse;
    width: 700px;
}

.category th, .category td
{
    border: 1px solid #ddd;
    padding: 15px;
    text-align:center;
}

.category th
{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #413f3f9d;
    color:white;
}

.category tr a
{
    text-decoration: none;
    color: black;
    padding: 8px 15px;
    color: white;
    border-radius: 5px;
}

.category tr .btn-primary
{
    background: #428bca;
}

.category tr .btn-danger
{
    background: #d9534f;
}